resources/mods2uvaMap/solrAdd.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="add">
    <element name="add">
      <zeroOrMore>
        <ref name="doc"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="doc">
    <element name="doc">
      <zeroOrMore>
        <choice>
          <ref name="doc"/>
          <ref name="field"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="field">
    <element name="field">
      <attribute name="name">
        <data type="NCName"/>
      </attribute>
      <choice>
        <text/>
        <zeroOrMore>
          <ref name="doc"/>
        </zeroOrMore>
      </choice>
    </element>
  </define>
  <start>
    <ref name="add"/>
  </start>
</grammar>
